.external-link-icon {
  font-size: 8px;
  margin-bottom: 1px;
}

.remaining-link {
  padding-top: 6px;
  padding-bottom: 9px;
}

.p-title {
  font-weight: 600;
  font-size: 13px;
  padding-top: 3px !important;
  line-height: 15px;
  margin: 0;

  svg.context-icon {
    font-size: 12px;
  }
  &.submission-options {
    margin-top: 15px !important;
  }
}
h1.p-title {
  text-decoration: underline;
  margin-bottom: 5px;
}

.p-value {
  word-break: normal;
  &.break-all {
    word-break: break-all;
  }
}

div.link-container {
  margin-top: 10px;
  margin-bottom: 7px;
}
.no-style-button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    background: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }
}

.create-message {
  margin-right: 15px !important;
}

.remove {
  font-size: 13px;
}

.note {
  padding-top: 4px;
  padding-bottom: 7px;

  .delete-value {
    word-break: break-all;
  }
}

.select-container {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;

  .p-value {
    width: 95px;
  }
}

.tag-container {
  margin-top: 0;
}

.tag {
  .text-container {
    padding: 3px 3px 3px 3px;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    flex: 1 0 0;
  }

  .remove-icon-container {
    border-radius: 0px 4px 4px 0px;
    padding: 0 0px 0 0;
    display: inline-block;
    color: #fff;
    flex: 0 0 10px;

    .tag-close-icon {
      font-size: 9px;
      &:hover {
        color: #ff0000;
      }
    }
  }
}

a.tag {
  .text-container:hover {
    text-decoration: underline;
  }
}

.link-tag {
  .summary-tag {
    background-color: #5995cd;
    padding: 5px 6px 6px 10px;
    border-radius: 24px;
    color: #fff;
    margin: 0 4px 4px 0;
    display: inline-block;
    font-weight: normal;
  }
  .summary-source {
    background-color: #e4e5e6;
    padding: 7px;
    border-radius: 4px;
    color: #272e36;
    margin: 0 2px 5px 0;
    display: inline-block;
    font-weight: 600;
  }
  span {
    .tag-close-icon {
      font-size: 10px;
      color: #777;
    }

    .tag-close-icon:hover {
      color: red;
    }
  }
}

.title-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  & > button {
    color: #5ccd18 !important;
    padding-right: 5px;
    font-size: 12px;
  }
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 5px;
  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;
    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.large-icon {
  font-size: 13px !important;
  margin-bottom: 1px;
}

pre {
  font-size: 11px !important;
}

.alert-evidences {
  .alert-evidence {
    margin-bottom: 12px;
  }
}

div.pre-container {
  overflow-x: auto;
}

.device-isolation-status {
  color: gray;
  font-size: 14px;
  margin-left: 2px;
  margin-top: 10px;
}

.change-isolation-button,
.quarantine-file-button {
  margin-right: 10px;
  margin-top: 7px !important;
  margin-bottom: 0;
  margin-left: 0;

  height: inherit;
  padding: 9px 20px 9px 20px;

  color: #fff;
  background-color: #0078d4;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;
  &.refresh {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 6px;
  }
  &:hover {
    background-color: #007dda;
  }
  &:active {
    background-color: #0161aa;
  }
  &:disabled {
    background-color: gray;
    &:hover {
      background-color: gray;
    }
  }
}

.input-field {
  margin-top: 10px;
  padding: 3px 6px 3px 6px;
  font-size: 13px;
  &.quarantine {
    margin-top: 7px;
  }
}
